body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(138deg, rgba(81, 255, 196, 1) 0%, rgba(29, 253, 226, 1) 50%, rgba(153, 231, 255, 1) 100%);
}

.page-content {
  padding: 30px;
}

.centered-container {
  height: 90vh;
}

.navbar-brand {
  font-size: 20pt;
}

.timer-value {
  font-size: 14vw;
  cursor: pointer;
}

.profile-link {
  height: 30pt;
  width: 30pt;
}